.form-register, .appointment-form {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    font: bold 14px sans-serif;
    text-align: center;
}

.form-register-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    /*margin-right: 130px;*/
    text-align: center;
}

.form-register-with-email .form-white-background{
    width: 570px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 80px;
    margin-bottom: 35px;
}

.form-register-with-email .form-row{
    text-align: center;
    margin-bottom: 23px;
}

.form-register-with-email .form-title-row{
    text-align: center;
    margin-bottom: 50px;
}

.form-register-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 20px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-register-with-email input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-register-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.form-register-with-email .form-log-in-with-existing{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
    color: #7b9d62;
    background-color: #d6f0c3;
}

/*  Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

    .form-register{
        margin: 20px auto;
    }

    .form-register-with-email{
        position: relative;
        display: block;
        margin: 0;
    }

    .form-register-with-email .form-white-background{
        margin: 0 auto 32px;
    }

}

@media (max-width: 600px) {

    .form-register-with-email .form-white-background{
        width: 300px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .form-register-with-email .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .form-register-with-email input{
        display: block;
        margin: 0 auto;
    }

}

nav.layout-nav {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 130px;
    margin: auto;
    padding-top: 35px;
    text-shadow: 1px 1px grey;
    background: #43bbf2;
    border-bottom: 1px solid grey;

}

nav.layout-nav > a {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #FFF;
    padding: 5%;
}

nav.layout-nav > a:hover {
    text-decoration: none;
    color: #dee1e5;
}

header.header, #top {
    height: 600px;
    color: #f9f9f7;
    text-shadow: 1px 1px #282828;
}

div.text-vertical-center {
    padding-top: 150px;
    vertical-align: inherit;
}

div.text-vertical-center > h1 {
    font-size: 70px;
}

div.text-vertical-center > h2 {
    font-size: 35px;
}

.form-register, .appointment-form {
    padding-top: 45px;
}

.index-btn {
    text-shadow: .8px .8px #424242;
    color: #FFF;
    margin: 20px;
    margin-top: 5px;
    padding: 15px;
    width: 150px;
    font-size: 22px;
    background-color: #FF951C;
}

.index-btn:hover {
    background-color: #FF8800;
}

#user-show {
    text-align: center;
    margin: auto;
}

#user-show > h1 {
    font-size: 30px;
}

#user-show > ul > h2 {
    font-size: 26px;
}

#user-show > ul > li > h3 {
    font-size: 19px;
}

#user-show > ul > li {
    margin: auto;
    text-align: left;
    width: 550px;
}

#user-show > ul > li > div {
    width: 400px;
    margin: auto;
}

#appointments-index > h2 {
    font-size: 28px;
}

#appointments-index > ul > li > h3 {
    font-size: 20px;
}

ul {
    list-style: none;
}

.field > label {
    margin: 15px;
    font-size: 17px;
}

.appointments-index {
    margin: auto;
    text-align: center;
}

.appointments-index > h1 {
    font-size: 45px;
}

li {
    margin-right: 22px;
}

input.btn {
    background-color: #FF951C;
    color: #f9f9f9;
    text-shadow: .8px .8px #515151  ;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
}

input.btn:hover {
    color: #f9f9f9;
    background-color: #FF8800;
}

header#top {
    background-image: url(image_two.jpg)
}

input.auth-btn {
    margin-top: 10px;
    width: 120px;
    height: 45px;
}

