    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Appointment Scheduler</h1>
            <h2>Click below to sign up for a lesson or mentor another student</h2>
            <br>
            <a href="/appointments/new" class="btn btn-dark btn-lg index-btn">Mentor</a>
            <a href="/appointments" class="btn btn-dark btn-lg index-btn">Student</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Connect with other students in your community</h2>
                    <p class="lead">Schedule a session to mentor a student, or sign up to be tutored as a student</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
